/*! Giscus Rosé Pine (Dark) */
main {
  --color-prettier-code-bg: #1f1d2e;
  --color-canvas-default: #191724; /* Base */
  --color-canvas-overlay: #1f1d2e; /* Surface */
  --color-canvas-subtle: #26233a;  /* Overlay */
  --color-border-default: #403d52; /* Highlight Med */
  --color-border-muted: #26233a;   /* Overlay */
  --color-neutral-muted: #6e6a86;  /* Muted */
  --color-accent-fg: #c4a7e7;      /* Iris (Links) */
  --color-accent-emphasis: #c4a7e7;
  --color-fg-default: #e0def4;     /* Text */
  --color-fg-muted: #908caa;       /* Subtle */
  --color-fg-subtle: #6e6a86;      /* Muted */
  --color-btn-text: #191724;       /* Base */
  --color-btn-bg: #e0def4;         /* Text */
  --color-btn-primary-bg: #31748f; /* Pine */
  --color-btn-primary-text: #e0def4;
}