<!-- This partial can be replaced to support other commenting engines -->
{{/*  {{ template "_internal/disqus.html" . }}  */}}

<div class="giscus" id="comments"></div>

<script src="https://giscus.app/client.js"
        data-repo="wnccys/blog"
        data-repo-id="R_kgDOQcA0BA"
        data-category="Announcements"
        data-category-id="DIC_kwDOQcA0BM4Cy7xQ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="catppuccin_mocha"
        data-lang="pt"
        crossorigin="anonymous"
        async>
</script>